<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head th:replace="fragments/layout/header :: common_header"></head>
    <body>
        <div class="container-fluid" id="mainContainer">
            <div id="header"></div>
            <div class="container-fluid">
	            <div class="row">
	                <div class="col-md-1">	                    
	                    <div class="row">
	                        <div class="col-md-12" style="text-align: right; vertical-align: middle;">
	                            <img th:src="@{/img/project-avatar.svg}" height="48" width="48" alt="logo" /> 
	                        </div>
	                    </div>                    
	                </div>
	                <div class="col-md-11">
	                    <div class="row">
	                        <div class="col-md-12">
	                            <span class="h2" th:text="${project.name}">VENTANILLA UNICA PRUEBAS DE ACEPTACION</span>
	                        </div>
	                    </div>
	                    <div class="row">
	                        <div class="col-md-12">
	                           <span>Key:</span>&nbsp;<span th:text="${project.keyProject}">VUPDA</span>&nbsp;&nbsp;&nbsp;
	                           <span>Lead:</span>&nbsp;<span th:text="${project.manager.name}">Cesar Sevilla</span>
	                        </div>
	                    </div>
	                </div>
	                <div class="row"><div class="col-md-12">&nbsp;</div></div>
	            </div>
	            <div class="row">
	                <ul class="nav nav-tabs">
	                  <li id="tab_overview" role="presentation" class="active"><a id="overviewLink" href="#" th:href="@{'/projects/' + ${project.idProject} + '/overview'}">Overview</a></li>
	                  <li id="tab_administration" role="presentation"><a href="#">Administration</a></li>
	                </ul>
	            </div>
	            <div class="row" id="contentTab">
	                
	            </div>
	        </div>
        </div>
        <footer th:replace="fragments/layout/header :: common_footer"></footer>
        <script type="text/javascript" th:inline="javascript" th:fragment="script">
             $(function(){
                 SEGUIDINO.showProjectTab('overview', [[${project.keyProject}]]);
                 $('.nav-tabs li a').on('click', function(){
                     $('.nav-tabs li').removeClass("active");
                     $(this).parent().addClass("active");
                     id = $(this).parent().attr('id');
                     id = id.replace("tab_", "");
                     $("#contentTab").load("/" + id);
                 });
             });
         </script>
        
    </body>
</html>